<body>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">class 1</a>
    <a href="#">class 2</a>
    <a href="#">class 3</a>
  </div>
</div>

